.workout-container{
    display: grid;
    background-color: rgb(54, 55, 55);
    padding: 20px;
    grid-template-columns: 3fr 1fr;
}

.exercise-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 0 auto;
    text-align: center;
}

.activity-container {
    background-color: rgb(180, 211, 200);
    border: 1px solid rgb(180, 211, 200);
    border-radius: 8px;
    margin-bottom: 10px;
    text-align: center;
}

.my-info{
    background-color: antiquewhite;
}
.my-info h2{
    margin: 0px;
}
.btn-break{
    background-color: brown;
    padding: 10px;
}
.btn{
    color: white;
    padding: 10px;
    margin: 3px;
    border: none;
    background-color: blueviolet;
    border-radius: 40%;
}
.btn:hover{
    background-color: blue;
    color: white;
}
.exercise-details{
    color: white;
    font-size: 20px;
    padding: 1px;
    margin-bottom: 3px;
    background-color: brown;
}
.btn-completed{
    color: white;
    padding: 15px;
    border: none;
    border-radius: 7px;
    background-color: blueviolet;
}
.btn-completed:hover{
    background-color: blue;
}


@media only screen and (max-width: 767px){
    .workout-container{
        display: grid;
        grid-template-columns: 4fr;
    }
    .exercise-container{
        display: grid;
        grid-template-columns: 4fr;
        margin-left: 0px;
        margin: auto;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 768px){
    .exercise-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1024px) {
    .exercise-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1440px) {
    .exercise-container {
        grid-template-columns: repeat(4, 1fr);
    }
}